<div>
  <h1 class="about-me">About me</h1>
</div>
<div class="container-about">
  <div>
    <img src="../../../../assets/foto-perfil.jpg" alt="">
  </div>
  <div class="text-about">
    <p>My name is <strong><i class="info">Gerson Junior</i></strong>, I live in Bauru-SP and i am <strong><i class="info">17</i></strong> years old.</p> <br>
    <p>I'm Front-end Developer, passionate about technology. Currently i work as <strong><i class="info">front-end developer</i></strong> at <strong><i class="info">ViewB</i></strong> and i have experience with the main technologies: HTML, CSS, JavaScript, TypeScript and Angular.</p> <br>
    <p>When I'm not working, I like to code some personal project or play a good game.</p>
  </div>
</div>




