.title-projeto {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

.all-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  margin-top: 50px;
  background-color: grey;
  width: 50vw;
  height: 150px;
  font-family: 'Ubuntu', sans-serif;
}

.img-card {
  width: 170px;
}
