<div class="container-div">
  <div>
    <p class="title-projeto">Projetos desenvolvidos durante minha jornada de Desenvolvedor</p>
  </div>
  <div class="all-card">
    <div class="card">
      <div>
        <img class="img-card" src="" alt="">
      </div>
      <p></p>
      <p></p>
    </div>
    <div class="card">
      <div>
        <img class="img-card" src="" alt="">
      </div>
      <p></p>
      <p></p>
    </div>
    <div class="card">
      <div>
        <img class="img-card" src="" alt="">
      </div>
      <p></p>
      <p></p>
    </div>
    <div class="card">
      <div>
        <img class="img-card" src="" alt="">
      </div>
      <p></p>
      <p></p>
    </div>
    <div class="card">
      <div>
        <img class="img-card" src="" alt="">
      </div>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
