<div class="container-div">
  <div>
    <p class="title-projeto">Job, hobby & open source.</p>
    <p class="desc-projeto">Here are my top 5 projects developed</p>
  </div>
  <div class="all-card">

    <div class="card">
      <div>
        <i class="fa-solid fa-rocket icon"></i>
      </div>
      <p class="title-card">NASA Picture</p>
      <p class="desc-card">See a photo taken by NASA on the day you want</p>
      <div class="btn-data">
        <button class="btn-view-git"><a target="_blank" href="https://github.com/GersonJuniorr/projectNasa"><i class="fa-brands fa-github"></i></a></button>
        <button class="btn-view-git"><a target="_blank" href="https://project-nasa.vercel.app"><i class="fa-solid fa-globe"></i></a></button>
      </div>
    </div>

    <div class="card">
      <div>
        <i class="fa-solid fa-virus-covid icon"></i>
      </div>
      <p class="title-card">Report card COVID 19</p>
      <p class="desc-card">Project to show data about COVID-19</p>
      <div class="btn-data">
        <button class="btn-view-git"><a target="_blank" href="https://github.com/GersonJuniorr/BoletimCovid19"><i class="fa-brands fa-github"></i></a></button>
        <button class="btn-view-git"><a target="_blank" href="https://boletim-covid19-beta.vercel.app"><i class="fa-solid fa-globe"></i></a></button>
      </div>
    </div>

    <div class="card ">
      <div>
        <i class="fa-solid fa-car icon"></i>
      </div>
      <p class="title-card">Star Cars</p>
      <p class="desc-card">Website to show cars and study responsibility</p>
      <div class="btn-data">
        <button class="btn-view-git"><a target="_blank" href="https://github.com/GersonJuniorr/StarCars"><i class="fa-brands fa-github"></i></a></button>
        <button class="btn-view-git"><a target="_blank" href="https://star-cars.vercel.app"><i class="fa-solid fa-globe"></i></a></button>
      </div>
    </div>

    <div class="card">
      <div>
        <i class="fa-solid fa-shuttle-space icon"></i>
      </div>
      <p class="title-card">Rocket Coffee</p>
      <p class="desc-card">Project made for study following RocketSeat layout</p>
      <div class="btn-data">
        <button class="btn-view-git"><a target="_blank" href="https://github.com/GersonJuniorr/RocketCoffee"><i class="fa-brands fa-github"></i></a></button>
        <button class="btn-view-git"><a target="_blank" href="https://rocket-coffee-seven.vercel.app/"><i class="fa-solid fa-globe"></i></a></button>
      </div>
    </div>

    <div class="card">
      <div>
        <i class="fa-solid fa-calculator icon"></i>
      </div>
      <p class="title-card">Calculator C#</p>
      <p class="desc-card">Starting to study C# I made this calculator</p>
      <div class="btn-data">
        <button class="btn-view-git"><a target="_blank" href="https://github.com/GersonJuniorr/calculadoraCSharp"><i class="fa-brands fa-github"></i></a></button>
      </div>
    </div>
  </div>
</div>
